<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:text="'Hello, ' + ${account.customer.firstName} + '!'" />
	<table>
		<tbody>
			<tr>
				<td><a th:href="@{'/account/' + ${account.id}+ '/balance'}">Get
						Balance</a></td>
			</tr>
			<tr>
				<td><a
					th:href="@{'/account/' + ${account.id}}+ '/deposit'">Deposit</a></td>
			</tr>


		</tbody>
	</table>
</body>
</html>