<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ATM</title>
</head>
<body>
	<p th:text="'Hello, ' + ${customer.firstName} + '!'" />
	<table>
		<tbody>
			<tr>
				<td><a
					th:href="@{'/' + ${customer.id}+ '/account/balance/all'}">Get
						Balance</a></td>
			</tr>
			<tr>
				<td><a
					th:href="@{'/account/create?customerId=' + ${customer.id}}">Create
						Account</a></td>
			</tr>


		</tbody>
	</table>
</body>
</html>